<h2>My PortFolio</h2>

<i class="fas fa-clock"></i>

<p-table [value]="stocks">
    <ng-template pTemplate="header">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Opening Price(Yesterday)</th>
            <th>Closing Price(Yesterday)</th>
            <th>Sector</th>
            <th>Market Capital</th>
            <th>Industry</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock>
      <tr>
          <td>{{stock.symbol}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.opening_price}}</td>
          <td>{{stock.closing_price}}</td>
          <td>{{stock.sector}}</td>
          <td>{{stock.market_capital}}</td>
          <td>{{stock.industry}}</td>
      </tr>
    </ng-template>
</p-table>
